// Default
*
  box-sizing border-box
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body
  background-color var(--bg-color)
  color var(--body-color)
  transition color var(--transition-normal), background-color var(--transition-normal)
  font-family -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
  margin 0
  padding 0
  line-height 1.5

a:not(.button)
  text-decoration none
  color var(--primary-color)

  &.active
    color var(--primary-color)
    border-bottom 2px solid currentColor

  &:hover
    color var(--secondary-color)

// FIXME: Figure out how to override the chrome focus ring color for the outline
// :focus
// outline-color var(--primary-color)
::selection
  background var(--primary-color)

img
  max-width 100%

#gatsby-focus-wrapper
  display flex
  flex-direction column
  flex-grow 1
  height 100vh
