html
  --base-font-size 20px

body
  --bg-color #252839
  --bg-content-color #1b1d2a
  --bg-code rgba(0, 0, 0, 0.3)
  --border-color rgba(255, 255, 255, 0.1)
  --body-color #ced8de
  --title-color #fff
  --link-color #F1B631
  --space 3.5rem
  --content-width 860px
  --header-height 80px
  --radius 6px
  --transition-fast 0.2s
  --transition-normal 0.4s
  --transition-slow 0.6s

@media screen and (max-width: 650px)
  html
    --base-font-size 17px

  body
    --space 1.5rem
    --header-height 60px
