.siteFooter
  background-color var(--bg-content-color)
  display flex
  align-items center
  justify-content center
  flex-direction column
  padding calc((var(--space) / 2))
  text-align center
  font-size 0.8rem

.copyright
  font-weight 500
  margin-top 0.5rem
