.siteFooter
  background-color var(--bg-content-color)
  display flex
  align-items center
  justify-content center
  flex-direction column
  padding calc((var(--space) / 2))
  text-align center
  font-size 0.8rem

.siteFooterSocial
  display flex
  justify-content center
  align-items center
  margin-top 1rem
  flex-direction column

.siteFooterRotator
  display flex
  justify-content center
  align-items center
  margin-top 1rem
  font-size 1rem

  >svg
    fill currentColor
    margin-right 0.5rem
    height 1.6rem
    width 1.6rem

.byText
  margin-left 0.25rem

  b
    font-weight bold

.copyright
  font-weight 500
  margin-top 0.5rem

@media screen and (min-width: 768px)
  .siteFooter
    flex-direction row-reverse
    justify-content space-between

  .copyright
    margin-top 0

  .siteFooterSocial
    flex-direction row
    align-items center
