.siteHeader
  height 4rem
  flex-shrink 0
  background-color var(--bg-content-color)
  padding-left env(safe-area-inset-left)
  padding-right env(safe-area-inset-left)

  &Container
    display flex
    align-items center
    height 100%
    width 100%
    padding 0 calc((var(--space) / 2))

.siteTitle
  text-decoration none
  color var(--title-color) !important

.navigation
  margin-left 0.75rem
  display flex
  flex 1
  align-items center

  &Link
    margin 0 0.5rem
    text-decoration none
    color var(--title-color) !important
