.socialContainer
  display flex
  justify-content center
  align-items center
  margin-top 1rem
  flex-direction column

.socialIcons
  display flex

  >a
    display flex
    justify-content center
    align-items center
    color unset

    svg
      fill currentColor
      margin 0 0.5rem
